* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid black;
}
header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  max-width: 1200px;
  margin: 0 auto;
}
header > h1 {
  line-height: 64px;
}
header > nav {
  margin-right: 3%;
}
header > nav > ul {
  display: flex;
  line-height: 64px;
}
header > nav > ul > li {
  margin-right: 25px;
  font-weight: bold;
}
main {
  max-width: 100%;
  height: 690px;
  background: antiquewhite;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
main > div.section {
  max-width: 1200px;
  margin: 0 auto;
}
main > div.section > div {
  margin-top: 160px;
  display: inline-block;
}
main > div.section > div > h1 {
  font-size: 55px;
  font-weight: bold;
}
main > div.section > div > p {
  font-size: 24px;
  margin-top: 10px;
}
main > div.section > div > button,
section > div.sectionbutton > button {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.1s linear;
}
main > div.section > div > button:hover,
section > div.sectionbutton > button:hover {
  background-color: black;
  color: white;
}
main > div.section > img {
  margin-left: 10px;
  width: 500px;
}
section {
  max-width: 100%;
}
section > h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}
section div.container {
  height: 135px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
}
section div.container > img {
  width: 100px;
}
aside {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px;
  margin-top: 40px;
}
footer {
  width: 100%;
  background-color: black;
  height: 140px;
  margin-top: 150px;
}
.sectionbutton {
  text-align: center;
}
